@import "../../../../../../variables.module.scss";

.wrapper {
  padding: 23px 63px 96px;
  display: flex;
  gap: 66px;

  @media (max-width: 1400px) {
    padding: 10px 30px 45px;
    gap: 20px;
  }

  @media (max-width: 1250px) {
    flex-direction: column;
  }
}

.photoUpload {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.photoUploadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 12px;

  @media (max-width: 1250px) {
    width: 100%;
    justify-content: center;
  }
}

.uploadText {
  font-size: $subtitle;
  color: $brand-color-1;
  cursor: pointer;
}

.inputsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.inputsRow {
  display: flex;
  gap: 30px;

  @media (max-width: 1150px) {
    flex-direction: column;
  }
}
