@import "../../../variables.module.scss";

.wrapper {
  padding: 36px 120px;
}

.content {
  background-color: $white;
}

.noCartWrapper {
  height: 561px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 46px;
}

.noCartIcon {
  color: $grey;
  width: 258px;
}

.noCartText {
  text-align: center;
  max-width: 400px;
  font-size: $subtitle;
  margin-top: 20px;
}

.cartWrapper {
  display: flex;
  gap: 20px;
  user-select: none;
}

.cartItems {
  flex: 1;
  padding: 33px 42px;
  background-color: $white;
  border-radius: 5px;
}

.cartSubtotal {
  padding: 16px 20px;
  background-color: $white;
  border-radius: 5px;
  height: fit-content;
}

.cartHeader {
  font-size: $body-large;
  font-weight: 400;
  margin-bottom: 20px;
}

.cartItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cartItemImage {
  width: 146px;
  height: 146px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.cartItemWrapper {
  display: flex;
  gap: 30px;
}

.itemTitle {
  font-size: $titleSmall;
  font-weight: 400;
}

.itemWrapper {
  width: 100%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trashIconWrapper {
  width: 15px;
  color: $grey70;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categoryText {
  font-size: $subtitle;
  color: $grey70;
}

.price {
  margin-block: 40px 6px;
  font-size: $subtitle;
  color: $grey70;
}

.counterWrapper {
  border: 1px solid $brand-color-1;
  border-radius: 5px;
  padding: 6px;
  min-width: 71px;
  display: flex;
  justify-content: space-between;
}

.counterOperation {
  width: 12px;
  display: flex;
  align-items: center;
  color: $brand-color-1;
  font-weight: 700;
  cursor: pointer;
}

.count {
  color: $black;
  font-size: $body-medium;
}

.subTotalBtnWrapper {
  margin-top: 20px;

  & > button {
    width: 100%;
    justify-content: center;
  }
}
