@import "../../../../variables.module.scss";

.wrapper {
  background-color: $grey50;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 83px;
}

.filterWrapper {
  border-radius: 5px;
  padding: 21px 18px;
  background-color: $white;
  max-width: 1200px;
  height: fit-content;
  width: 100%;
  margin-top: 39px;
}
.cardsWrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 18px 39px;
  margin-top: 39px;
}

.searchWrapper {
  flex: 0 0 1;
  width: 500px;
}
.searchBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addWrapper {
  max-height: 0px;
  overflow: hidden;
  transition: margin 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.addWrapperOpen {
  max-height: 700px;
  margin-block: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.editTitle {
  margin-bottom: 16px;
  font-size: $body-extra-large;
  color: $black;
}

.editButtonWrapper {
  margin-top: 10px;

  @include fullWBtn;
}

.editImageWrapper {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.editImages {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.deleteIconWrapper {
  width: 18px;
  color: $brand-color-1;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: none;
  cursor: pointer;
  padding: 2px;
  border-bottom-left-radius: 5px;
  background-color: $white;
}

.editImageContainer {
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    & > div:first-child {
      display: block;
    }
  }
}
