@import "../../../variables.module.scss";

.pageWrapper {
  flex: 1;

  max-width: 1800px;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
}

.headerWrapper {
  background-color: $grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 73px 120px;

  @media (max-width: 1000px) {
    padding: 30px 45px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.welcomeWrapper {
  display: flex;
  justify-content: space-between;
  gap: 26px;

  @media (max-width: 1150px) {
    flex-direction: column;
  }
}

.welcomeInfo {
  max-width: 600px;

  @media (max-width: 1150px) {
    width: 100%;
    max-width: none;
  }
}

.welcomeTitle {
  font-size: $mainTitle;
  font-weight: 400;

  @media (max-width: 1350px) {
    font-size: $title;
  }

  @media (max-width: 768px) {
    font-size: $mainTitle;
  }

  @media (max-width: 500px) {
    font-size: $title;
  }
}

.welcomeSubtitle {
  color: $grey70;
  font-size: $body-large;
  font-weight: 400;
  margin-block: 36px 46px;

  @media (max-width: 1350px) {
    font-size: $body-medium;
    margin-block: 16px 26px;
  }

  @media (max-width: 768px) {
    font-size: $body-large;
  }
}

.welcomeBtn {
  width: fit-content;

  @media (max-width: 1150px) {
    width: 100%;
  }
}

.welcomeImagesWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.welcomeImage {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 1150px) {
    width: 100%;
    height: 192px;
  }

  @media (max-width: 768px) {
    height: 112px;
  }
}

.bestSellersWrapper {
  margin-top: 116px;
}

.sectionTitle {
  font-size: $title;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  &::after,
  &::before {
    content: "";
    display: inline-block;

    width: 165px;
    height: 2px;
    background-color: $grey50;
  }

  @media (max-width: 768px) {
    font-size: $subtitle;
  }

  @media (max-width: 450px) {
    font-size: $body-default;
    column-gap: 5px;

    &::after,
    &::before {
      width: 50px;
    }
  }
}

.bestSellerSlider {
  margin-top: 33px;
}

.findUsWrapper {
  margin-top: 33px;
}

.mapWrapper {
  margin-top: 33px;
  position: relative;
  //   width: 700px;
  text-align: center;
}
.map {
  height: 500px;
  position: "absolute";
  top: 0;
  bottom: 0;
  width: "100%";

  @media (max-width: 768px) {
    height: 300px;
  }
}
