@import "../../variables.module.scss";

.wrapper {
  padding: 55px 120px;
  background-color: $footer;
  color: $white;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 20px 45px;
    gap: 40px;
    flex-direction: column;
  }
}

.logoLink {
  text-decoration: none;
}

.logo {
  font-size: $title;
  font-weight: 5400;
  color: $white;
  //   text-decoration: none;
  line-height: 38px;

  & > span {
    color: $brand-color-1;
  }

  @media (max-width: 768px) {
    font-size: $titleSmall;
  }
}

.footerText {
  margin-top: 20px;
}

.contactTitle {
  font-size: $titleSmall;
  font-weight: 400;
  margin-bottom: 28px;

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.contactUsWrapper {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 30px;
}

.linkWrapper {
  font-size: $body-large;
  color: $grey50;
  display: flex;
  gap: 11px;

  @media (max-width: 768px) {
    font-size: $body-default;
  }
}

.linkIcon {
  width: 18px;
  color: $grey70;
  display: flex;
  align-items: center;
}

.linkList {
  list-style-type: none;

  & > li:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    & > li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
